@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");

.times {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
}

.prose_img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home_name {
  font-size: 150px;
}
